:root {
    --SoftOrange: hsl(35, 77%, 62%);
    --SoftRed: hsl(5, 85%, 63%);
    --OffWhite: hsl(36, 100%, 99%);
    --GrayishBlue: hsl(233, 8%, 79%);
    --DarkGrayishBlue: hsl(236, 13%, 42%);
    --VeryDarkBlue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
body {
    
    background-color: var(--OffWhite);
}

p {
    line-height: 1.8;
    color: var(--DarkGrayishBlue);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    color: var(--DarkGrayishBlue);
}

header nav {
    display: none;
}

header nav ul li:hover {
    cursor: pointer;
}
header nav ul li:hover {
    color: var(--SoftOrange)
}

.hero-section {
    padding: 1.2rem;
    padding-top: 0;
}

img {
    max-width: 100%;
}
h1 {
    font-weight: 700;
    color: var(--VeryDarkBlue);
    font-size: 2.5rem;
}

ul {
    list-style: none;
}
article h1 {
    margin: 1rem 0;
}
button {
    margin: 1.2rem 0;
    border-radius: 0;
    border-style: none;
    background-color: var(--SoftRed);
    color: var(--OffWhite);
    padding: 1rem 2.5rem;
    letter-spacing: .2rem;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: var(--VeryDarkBlue);
    transition: all 0.3s ease-in-out;
}

.new-section {
    background-color: var(--VeryDarkBlue);
    margin-top: 3.75rem;
    padding: 1.2rem;
    color: var(--GrayishBlue);
}
.new-section h2 {
    color: var(--SoftOrange);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

hr {
    border: none;
    height: 0.5px;
    background-color: var(--DarkGrayishBlue);
    margin: 1.8rem 0;
}

.new-section h3 {
    color: var(--OffWhite);
    margin-bottom: .6rem;
    font-size: 1.5;
    cursor: pointer;
}

.new-section h3:hover {
    color: var(--SoftOrange);
}

h4 {
    color: var(--VeryDarkBlue);
}
.cards {
    margin: 1.2rem;
    margin-top: 3.75rem;
}
.cards article{
    display: flex;
    margin: 2rem 0;
}

.cards article img {
    width: 6.5rem;
}

.cards article div {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    font-size: 2rem;
    color: var(--GrayishBlue);
    font-weight: 600;
}

@media (min-width: 1024px) {
    body {
        padding: 2.5rem 6rem;
    }
    header nav {
        display:contents;
    }

    header nav ul {
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }

    .hero-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .new-section {
        margin: 0;
    }

    .blog-section {
        grid-column: span 2;
    }

    .blog-section article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
    }

    .blog-section article h1 {
        font-size: 3.2rem;
    }

    .blog-description {
        align-self: center;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}